<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <title>Demo: Bayesian Network</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='viz.js') }}"></script>
        <script src="{{ url_for('.static', filename='main.js') }}"></script>
    </head>
    <body>
        <div id="lhs">
            <textarea id="bayes">burglary -> alarm
earthquake -> alarm
alarm -> john-calls
alarm -> mary-calls

CPT for burglary:
true   false
0.001  0.999

CPT for earthquake:
true   false
0.002  0.998

CPT for alarm:
burglary  earthquake  true   false
false     false       0.001  0.999
false     true        0.29   0.71
true      false       0.94   0.06
true      true        0.95   0.05

CPT for john-calls:
alarm  true  false
true   0.90  0.10
false  0.05  0.95

CPT for mary-calls:
alarm  true  false
true   0.70  0.30
false  0.01  0.99

# observe john-calls is true
# observe mary-calls is true
# predict</textarea><br>
            <button id="drawButton">Draw</button>
        </div>
        <div id="rhs"></div>
    </body>
</html>
