#lhs {float:left; text-align:center; width:29%;}
#rhs {float:right; text-align:center; width:70%;}
#editor {height:50em; resize:none; width:100%;}
#transcript {height:50em; resize:none; width:100%;}
#reply-text {width:70%;}
#reply-button {width:9%;}
